PORT=5000

# Use mongodb://mongo:27017/disaster-db if running inside Docker Compose
# Use mongodb://localhost:27017/disaster-db if running server locally
MONGODB_URI=mongodb://mongo:27017/disaster-db

JWT_SECRET=devsecretjwttokenkey12345

CLOUDINARY_CLOUD_NAME=dummy_name
CLOUDINARY_API_KEY=dummy_key
CLOUDINARY_API_SECRET=dummy_secret